@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility thin-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: theme('colors.slate.300') transparent;
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: theme('colors.slate.300');
    border-radius: 20px;
  }
}

.markdown-body {
  @apply text-slate-600 leading-relaxed;
}
